/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */
.MMM-rdrDrawingBoard .wrapper {
    position: absolute;
    border:0px solid #62FF00; /*green*/
    border-radius:0px; 
    z-index: 249;
 	
    
    
    top: 200px;
    bottom:0px;
    right:0px;
    left:60px;
    width: 718px;
	height: 1000px;
}




.MMM-rdrDrawingBoard .buttons {
    
    border:0px solid #337DFF; /*blue*/
    border-radius:0px; 
    position: absolute;
    top: 905px;
    bottom:0px;
    right:0px;
    left:0px;
    width: 714px;
	height: 50px;
}

.MMM-rdrDrawingBoard .canvas {
    border:0px solid #FFFFFF ; /*white*/ 
    
    transform: rotate(+90deg);
 	transform-origin: bottom left; 
    position: absolute;
    
    width: 900px;
	height: 630px;
    left: 41px;
    right: 0px;
    top: -630px;
}
.MMM-rdrDrawingBoard .button01 {
    
  position: absolute; 
  top: 0px;
  bottom:0px;
  right:0px;
  left:40px;
  padding:2px;
  border-radius:1px;
  background-color:transparent;
  color:#fff;
  background:black;
  font-size:12px;
  width: 100px;
  height: 20px;
  
  
}
.MMM-rdrDrawingBoard .blackboard_img {
    position: absolute; 
    width: 840px;
    height: 1095px;
    top: -100px;
    left: -62px;
}

.MMM-rdrDrawingBoard .blackboard_img img {
    width: inherit;
    height: inherit; 
}
.MMM-rdrDrawingBoard .color_label {
  position: absolute;
  top: -16px;
  bottom: 0px;
  right: 0px;
  left: 175px;
  padding: 2px;
  border-radius: 1px;
  background-color:transparent;
  color: blue;
  font-size:12px;
  width: 100px;
  height: 20px;
  
}
.MMM-rdrDrawingBoard .color_input {
  position: absolute;
  top: -5px;
  bottom: 0px;
  right: 0px;
  left: 220px;
  padding: 2px;
  border-radius:1px;
  background-color:transparent;
  color:#fff;
  background:blue;
  font-size:12px;
  width: 100px;
  height: 20px;
  
}

.MMM-rdrDrawingBoard .weight_label {
  position: absolute;
  top: -16px;
  bottom: 0px;
  right: 0px;
  left: 355px;
  padding: 2px;
  border-radius: 1px;
  background-color:transparent;
  color: blue;
  font-size:12px;
  width: 100px;
  height: 20px;
  
}
.MMM-rdrDrawingBoard .weight_input {
  position: absolute;
  top: -5px;
  bottom: 0px;
  right: 0px;
  left: 420px;
  padding: 2px;
  border-radius:1px;
  background-color:transparent;
  color:#fff;
  background:blue;
  font-size:12px;
  width: 100px;
  height: 20px;
  
}

.MMM-rdrDrawingBoard .mode_label {
  position: absolute;
  top: -16px;
  bottom: 0px;
  right: 0px;
  left: 560px;
  padding: 2px;
  border-radius: 1px;
  background-color:transparent;
  color: blue;
  font-size:12px;
  width: 100px;
  height: 20px;
  
}
.MMM-rdrDrawingBoard .mode_input {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 600px;
  padding: 2px;
  border-radius:1px;
  background-color:transparent;
  color:#fff;
  background:blue;
  font-size:12px;
  width: 60px;
  height: 20px;
  
}